body{
    background-color: #393e46;
    color:#4ECCA3;
    font-family: 'Indie Flower', cursive;
    text-align: center;
    
}
footer{
    margin-top: 5%;
    color: #EEEEEE;
}
h1{
    font-family: 'Lobster', cursive;
    font-size: 8rem;
    margin:30px;
    text-shadow: 5px 0 #232931;
}
img{
    width: 80%;
}
p{
    font-size: 2rem;
}


.container{
    margin: auto;
    width: 70%;
    
}
.dice{
    display: inline-block;
}